@model MVC.Models.EmployeeVM

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <h4>EmployeeVM</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Firstname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Firstname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Lastname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lastname)
            </dd>
        </dl>
    </div>
}

else
{
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title">Для доступа к этой странице требуется авторизация</h2>
                <p class="card-text">Пожалуйста, введите свои учетные данные, чтобы продолжить.</p>
            </div>
        </div>
    </div>
}



